{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "eqeqeq": [2, "smart"],
    "no-unused-vars": 2,
    "space-before-blocks": 2,
    "no-lonely-if": 2,
    "curly": [2, "multi-line"],
    "no-redeclare": 1,
    "no-shadow": 1,
    "no-use-before-define": [1,"nofunc"],
    "quotes": [2, "single"],
    "space-before-blocks": 2
  }
}
